@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grocery Store</h1>
    <span><img src="~/Images/GroceryStore.jpg"></span>
    <p class="lead">Visit your nearest Grocery Store for fresh & quality products.</p>
</div>

<div class="row">
    <div class="col-md-4">
      <h2>Fresh Ingredients</h2>
        <p>We make sure that everything that we keep in our stores is fresh and of high quality. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
       <h2>Lots of Choices</h2>
       <p>In our stores, you will be spoilt for choice. Pick from a variety of products, for all wallets.!</p>
    </div>
</div>
<div class="row">
     <div class="col-md-4">
        <h2>Open 24/7</h2>
        <p>We take pride in keeping our stores open 24/7 for your convenience. </p>
     </div>
</div>
